blessed==1.14.2
certifi==2023.7.22
chardet==3.0.4
fuzzywuzzy==0.16.0
gitdb2==2.0.3
GitPython==3.1.37
idna==2.6
python-Levenshtein==0.12.0
PyYAML==5.4
requests>=2.21.0
six==1.11.0
smmap2==2.0.3
urllib3>=1.23
wcwidth==0.1.7
