# ~ GLOBAL CONFIG FILE EXAMPLE ~

Jira:
    # ----- THESE ARE MANDATORY -----
    # JIRA API Key

    Username: "<USER_EMAIL>"
    # Your Atlassian API Key. 
    # If you don't yet have one, generate it here: 
    # https://id.atlassian.com/manage/api-tokens
    Api Key: "<ATLASSIAN_API_KEY>"
    # Search URL, usually https://<YOUR_SITE>.atlassian.net/rest/api/2/search
    Search URL: "<SEARCH_URL>"
    # ----- END MANDATORY SECTION -----



    # Global result filters
    Filter:
        # Global filters don't always make sense, but seeing as how
        # your name doesn't change often, you can probably drop it here
        #Assignee: <YOUR_NAME>
        #Issue Resolution: Unresolved

Main:
    # How many issues to show
    Max Responses: 4
    # Refresh the issue cache every n minutes
    Refresh Interval: 1440

# Note: You can also use statements from the local config, here
# ...but you probably shouldn't
