# ~ LOCAL CONFIG FILE EXAMPLE ~

Jira:
    # ----- THESE ARE THE DROIDS YOU'RE LOOKING FOR -----
    # Filter results for:
    Filter:
        # You probably want to fill these out,
        # ...but you can uncomment what you don't need
        #Assignee: <YOUR_NAME>
        Project: <YOUR_PROJECT_KEY> #(such as PNAME or PNAME)
        #Issue Resolution: Unresolved
        #Status: Implement
    
    # A custom JQL query (if necessary; overrides previous fields)
    # JQL: "project = PNAME AND assignee = 'Esteban Panchero'"
    # ----- END DROIDS -----

Main:
    # How many issues to show
    #Max Responses: 4
    # Refresh the issue cache every n minutes
    #Refresh Interval: 1440

    # Uncomment this if you want a hardcoded cache location
    # (default is inside the same directory as the script)
    #Cache File: ./.issue_cache
