Main:
    # How many issues to show
    Max Responses: 4
    
    # Refresh the issue cache every n minutes
    Refresh Interval: 1440

    # Uncomment this if you want a hardcoded cache location
    # (default is inside the same directory as the script)
    #Cache File: ./.issue_cache
Jira:
    # Filter results for:
    Filter:
        # You probably want to fill these out,
        # ...but you can uncomment what you don't need
        Assignee: Your Name
        Project: Your project key (such as PNAME or PNAME)
        Issue Resolution: Unresolved

    # JIRA API Key
    Username: "user@domain"
    Api Key: "your_api_key"

    # Search URL, usually https://<YOUR_SITE>.atlassian.net/rest/api/2/search
    Search URL: "https://<YOUR_SITE>.atlassian.net/rest/api/2/search"
    
    # A custom JQL query (if necessary; overrides previous fields)
    # JQL: "project = PNAME AND assignee = 'Esteban Panchero'"
